body {
    margin: 0;
    padding: 0;
}
.main {
    margin: 5px;
}
.box{
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 5px;
}
.img-box {
    width: 85%;
    display: block;
    margin: auto;    
}
.navbar {
    position: fixed;
    background-color: green;
    top: 0px;
}